# Milestone 1: Clean and Tokenize Text
The goal of this task is to to reduce the noise in the original raw text and tokenize the text to prepare it for the language maodel. We need to remove everything that is not exactly text (e.g html tags, math equations, urls, etc), filter out any rows with very short or very long texts and finally tokenize the text for use in a language model. The cleaned and tokenized output will be used as the input in the next milestone to build our n-gram model.

In [1]:
# We only need the following librairies
import pandas as pd
import re
import string
import csv
import numpy as np
from nltk.tokenize import WordPunctTokenizer

If there's a problem with the versions of the librairies, you can uncomment the line below and install the proper versions

In [2]:
# !pip install -r requirements.txt

Let's load the dataset and shuffle it.

In [3]:
#Load data using pandas read_csv

In [4]:
#Check data has 812132 rows

And start by exploring the dataset.

In [5]:
#Check the first few rows of the data

We have 3 types of text:

In [6]:
#Check the value counts for the category column

In [7]:
#Print a few examples of titles

We see that posts text have html tags and latex formatted equations.

In [8]:
#Print a few examples of posts

In [9]:
#Print a few examples of comments

# Clean up raw text
We're going to remove the following elements:
* html tags
* line returns
* urls
* latex equations
* numbers
* mentions: @someone
* digits
* most of the punctuation
* and extra spaces

For that we will use a series of simple regex patterns and the following pandas dataframe pattern:

```
pattern = r" some regex pattern"
df.text.apply(lambda t : re.sub(pattern,' ', t) )
```

Note that it's up to you to decide which elements should be removed or kept. This sequence of transformations can be modified. 

Not also that the regex patterns we use here are chosen for their simplicity. Feel free to use more precise patterns.

In [10]:
# Remove html tags

In [11]:
# Remove line returns

In [12]:
# Remove urls

In [13]:
# Remove mentions

In [14]:
# Remove latex

In [15]:
# Remove digits

In [16]:
# Remove some of the punctuation but keep ,.!? and -

In [17]:
# Remove multiple spaces

In [18]:
# Finally remove trailing spaces with strip()

Let's check out the resulting text for the different types:

In [19]:
# Print examples of titles again - they should not be changed

In [20]:
# Print examples of posts again - they should have much less clutter

In [21]:
# Print examples of comments again - should also be less noisy

# Tokenize

Let's tokenize the text. 
This will allow us to count the number of tokens of each text and subsequently remove test that are too long or too short.
You can use other librairies to tokenize the text (spacy for instance) or other tokenizer. Here we use the [WordPunctTokenizer](https://www.nltk.org/api/nltk.tokenize.html#nltk.tokenize.regexp.WordPunctTokenizer) from NLTK.

And we create a new columns called tokens

In [22]:
#Create a tokenizer object using WordPunctTokenizer from NLTK 

#Apply the tokenizer to the text column (conver to lowercase first) and save output into new column called tokens

Let's now count the tokens in each piece of text

In [23]:
#Count the number of tokens in each text and save output into new column called n_tokens

In [24]:
#Describe the number of tokens

In [25]:
#Do a histplot to check the distribution of the number of tokens

We see that we have some extremely long texts. Let's look at the largest one

In [26]:
# Print the largest token

We can see that most of the longest texts are composed of tables with limited semantic value. 
We will remove rows that have more than an arbitrary number of tokens (let's say 5000) as well as rows that have too few tokens.

In [27]:
#Remove rows with less than 4 or more than 5000 tokens

#Check the number of rows after filtering

In [28]:
#Lets check the value counts for each category again

# Export data
We could export the dataframe as such using a pickle file format. 

However if we want to keep the original csv format it's going to be easier if we transform the list of tokens into a space separated string.

On retrieval we will only have to split the string to get back the list of tokens.

In [29]:
#Change tokens column to a space separated string of tokens rather a list

#Check the first few rows

And finally let's export the dataframe into a csv file.

We will use that csv file as the new cleaned and tokenized dataset to build our language model in milestone 2.

In [30]:
#Write to csv to upload